.group-affiliation {
    .group-affiliation-wrap {
        padding: 0px 0px;
        .group-affiliation-item {
            background: #eee;
            height: 40px;
            padding-top: .5rem;
            padding-left: .5rem;
            border: 1px solid #d7d7d7;
        }
    }
    .group-affiliation-pd {
        margin: 10px 0 0;
    }
    .group-col-fl1 {
        margin-left: 1rem;
        
    }
    .group-col-fl2 {
        margin-left: 2rem;
    }
    .group-col-fl3 {
        margin-left: 3rem;
    }
    .group-col-fl4 {
        margin-left: 4rem;
    }
}
